body{
    background: #fff8f8;
}
.container-fluid{
    //box-sizing: border-box;
}
.clearfix:before {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.cont_fluid_header{
    position: relative;
}
.header_img12{
    width: 120%!important;
    position: absolute;
    left: 0px;
    top: -30px;
    z-index: -100;
}
.header_img01{
    display: none;   
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -100;
}
.header_img02{
    display: none;
    margin-top: 50px;    
    left: 0px;
    top: 0px;
    //z-index: -100;
}
.header_top{
    margin-top: 20px;
}
.logo{
    padding: 0px;
    padding-top:10px;   
}
.logo img{
    width: 140px;
}
.btn_startproject{
    float:right;
    padding:20px 10px; 
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    text-transform: capitalize;
}
.square {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;        /*6px ->5 px*/
    margin:0 auto;
    transition: 0.4s;
    clear: both;
    border-radius: 2px;
} 
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*======Update_box Section Starts======*/
.update_box{
    padding-top: 110px;
    padding-left:0; 

}
.type-wrap{
    text-align: left;
    color: #fff;
    //background: #FF9800 !important;
    height: 500px;
    padding: 10px;
    //padding-bottom:200px;  
    //line-height: 4.5em;
       box-sizing: border-box;
}
.type-wrap span{
    white-space: unset !important;
    font-weight: 700;
    font-size: 4.5vw !important;
}
 .btns {
    //padding-top: 20px;
    //margin-top: 10px;
    width: auto;
}
.btns .btn_services{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    padding:10px 20px;
    border: 1px solid #fff;
}
/*Services starts*/

#service{
    margin-top: 10%;
    padding-top: 50px;
}
.services .service_row1 img,.services .service_row2 img{
    padding: 20px;
}
.services .service_row1 .css_service{
    max-width: 170px;
    width: auto;
    box-sizing: border-box;
}
.services .service_row2 div:nth-child(6) {
    text-align: center;
}
.adjusting_box{
    display: none;
    height: 10em;
}

/*
* ----------------------------------------------------------------------------------------
* Features CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.features{
    padding-left: 20px;
}
.features .heading_features_main{
    color: #1B6FCF;
    font-size: 36px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    margin-bottom: 20px;
}
.single-feature .heading_features h2{
    font-size: 20px;
    font-weight: 500;
    color: #1B6FCF;
}
.features-padding {
    padding: 40px 0px;
}
.single-feature {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #fff;
}
.feature-icon i {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}
/*
* ----------------------------------------------------------------------------------------
* SOLUTIONS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
#SOLUTIONS{
    position: relative;
}
#solutions{
    padding: 0px;
}

#SOLUTIONS .background_left01{
    width: 45vw;
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: -210;
}
#solutions .sol_left{
    padding: -10px;
}
#solutions .sol_left .character_lady{
    width: 700px !important;
    margin-left: -100px;
    //position: absolute;
    //left: -90px;
    //top: 20px;
    box-sizing: border-box;
}
#solutions .sol_right{
    padding: 40px 10px;
    padding-bottom: 0px;
}
#solutions .sol_right .heading_services{
    font-size: 25px;
    text-align: left;
    font-weight: 300;
    padding: 20px 0;
    padding-bottom: 0px;
    color: #9d9d9d;
}
#solutions .sol_right h2,#solutions2 .sol_left2 h2{
    padding: 15px 0;
    font-weight: 600;
    font-size: 36px;
    color: #1B6FCF;
}
#solutions .sol_right p,#solutions2 .sol_left2 p{
    padding:15px 0;
    line-height: 20px;
    font-size: 18px;
    color: #9d9d9d;
}

/*
* ----------------------------------------------------------------------------------------
* END SOLUTIONS CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/* ====== TESTIMONIALS Styles Here ======*/ 
#TESTIMONIAL{
}
.testimonial{
    border: 1px solid red;
    padding: 80px 10px;
}
.testimonial .testimonial_left{
    width: 50%;
    position: relative;
}
.testimonial .testimonial_left .circle3{
    margin: 0 auto;
    width: 150px;
    width: 35em;
    height:35em;
    border-radius: 35em;
    position: absolute;
    position: relative;
    z-index: 301;
    left: -4.5em;
    border: 1px solid #1B6FCF;
}
.testimonial .testimonial_left .circle2{
    margin: 0 auto;
    width: 25em;
    height: 25em;
    border-radius: 25em;
    position: absolute;
    position: relative;
    z-index: 302;
    top: 4.8em;
    border: 2px solid #1B6FCF;
}
.testimonial .testimonial_left .circle1{
    margin: 0 auto;
    width: 15em;
    height: 15em;
    border-radius: 15em;
    position: absolute;
    position: relative;
    z-index: 303;
    top: 4.8em;
    border: 3px solid #1B6FCF;
}
.testimonial .testimonial_left .circle0{
    margin: 0 auto;
    width: 4em;
    height: 4em;
    background: #1B6FCF;
    border-radius: 4em;
    position: absolute;
    position: relative;
    z-index: 304;
    top: 4.8em;
    border: 4px solid #1B6FCF;
}
.testimonial_left img{
    width: 80px;
}
.member1,.member2,.member3,.member4,.member5,.member6,.member7{
    position: absolute;

}
.member1{
    top: -2em;
    left: 6em;
}
.member2{
    top: 8em;
    left: -1.3em;   
}
.member3{
    top: -2em;
    left: 5.5em;  
}
.member4{
    bottom: -2em;
    left: 8em;   
}
.member5{
    bottom: 8.5em;
    right: -2em;   
}
.member6{
    top: -1em;
    right: 8.3em;
}
.member7{
    bottom: 1em;
    right: 5em;
}
/*common property for model members*/
.model_member{
    display: none;
    width: 200px;
    position: inherit;
    bottom: -4em;
    z-index: 305;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    transition: all 1s; 
}
.model_m1{
    width: 200px;
    display: none;
    position: inherit;
    bottom: -4em;
    z-index: 305;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    transition: all 1s; 
}
.model_text{
    padding: 5px;
    background: #1B6FCF;
    color: #fff;
    border: 1px;
    border: 1px solid #fff;
    border-radius: 5px;       
}
.member1:hover .model_m1{
    display: block;
}
.member2:hover .model_m2{
    display: block;
}
.member3:hover .model_m3{
    display: block;
}
.member4:hover .model_m4{
    display: block;
}
.member5:hover .model_m5{
    display: block;
}
.member6:hover .model_m6{
    display: block;
}
.member7:hover .model_m7{
    display: block;
}

.testimonial .testimonial_right{
    
}


/*---- for 1200 and more ----*/
@media screen and (min-width:1200px ){
    .square {
        padding: 10px;

    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        margin: 6px 0;
    }
    .update_box{
        padding-top: 110px;
    }
    .type-wrap{
        height: 350px;
        padding: 10px;
    }
    .type-wrap span{
        font-size: 4.5vw ;
    }
    .btns {
        padding-top: 20px;
        margin-top: 10px;
    }
    .btns .btn_services{
        font-size: 20px;
        padding:10px 20px;
        border: 1px solid #fff;
    }
    #SOLUTIONS .background_left01{
        width: 600px;
    }

}

/*---- for 1440px to 1680px ----*/
@media screen and (min-width:1440px ) and (max-width: 1680px){
    .update_box{
        padding-top: 120px;
    }
    .type-wrap{
        height: 350px;
    }
    .adjusting_box{
        display: block;
        height: 5em;
    }
}
/*---- for 1680px to 1998px ----*/
@media screen and (min-width:1680px ) and (max-width: 1998px){
    .update_box{
        padding-top: 120px;
    }
    .type-wrap{
        height: 400px;
    }
    .type-wrap span{}
    .btns {
        padding-top: 4em;
        margin-top: 1.20em;
    }
    .btns .btn_services{
        font-size: 25px;
    } 
    .adjusting_box{
        display: block;
        height: 6em;
    } 
    .logo{
        padding-top: 20px;   
    }
    .logo img{
        width: 150px;
    }
    .square {
        padding: 10px;

    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 5px;
        margin: 6px 0;
    }
}

/*---- for 1200 and less ----*/
@media screen and (max-width:1200px ){
    .header_top{
        margin-top:0px;
        padding-top:20px;
    }
    .logo{
        padding-top: 10px;   
    }
    .logo img{
        width: 150px;
    }
    .update_box{
        padding-top: 110px;
    }
    .type-wrap{
        height: 400px;
        padding: 10px;
    }
    .type-wrap span{
        font-size: 4.5vw;
    }
    .btns {
        display: none;
        padding-top:0px;
        margin-top: 0px;
        width: auto;
    }
    .btns .btn_services{
        
        font-size: 20px;
        padding:10px 20px;
        border: 1px solid #fff;
    } 
    .square {
        padding: 10px;
    }
    .bar1, .bar2, .bar3 {
        width: 1.5em;
        height: 4px;
        margin: 4px 0;
    }
    .features .heading_features_main{
        font-size: 30px;
        font-weight: 400;
    }

    #solutions .sol_left .character_lady{
    width: 600px;
    margin-left: -30px;

}
/*--- for 1200 and less ---*/
@media screen and (max-width:1200px ){
   .update_box{
        padding-top: 110px; 
    }
    .type-wrap{
        height: 300px;
        padding: 10px;
    }
    .type-wrap span{
        font-size: 4.5vw;
    }
    .btns {}
    .btns .btn_services{
        font-size: 20px;
        padding:10px 20px;
        border: 1px solid #fff;
    }
    .header_top{
        margin-top:0px;
        padding-top:10px;
    }
    .logo{
        padding-top: 10px;   
    }
    .logo img{
        width: 100px;
    }
    .square {
        padding: 8px;
    }
    .bar1, .bar2, .bar3 {
        width: 1.5em;
        height: 4px;
        margin: 4px 0;
    }
   .services{ 
        padding-left: 0px;
    }
    .services div{
        padding-left: 0px;
    }
    .service_row1,.service_row2{
        margin: 0 auto;
        width: 100%!important; 
    }
}
/*--- for 991px and less ---*/
@media screen and (max-width:991px ){
    #service{
        margin-top: 50px;
        padding-top: 10px!important;
    }
    .services{ 
        padding-left: 0px;
    }
    .services div{
        padding-left: 0px;
    }
    .service_row1,.service_row2{
        margin: 0 auto;
        width: 80%!important; 
    }

    /*media css for features box section*/
    .single-feature .heading_features h2{
        font-size: 16px;
    }
    
    /*media css for solution section*/
    #SOLUTIONS .background_left01{
        width: 650px;
    }
    #solutions .sol_left .character_lady{
        width: 600px;
        margin-left: -30px;
    }
    #solutions .sol_right h2,#solutions2 .sol_left2 h2{
        color: #1B6FCF;
    }
    #solutions .sol_right p,#solutions2 .sol_left2 p{
        font-size: 16px;
    }

    /*css for owl carousel slider*/
     #reccomended{
        padding: 0px!important;
     }
      #reccomended .owl-nav button.owl-prev,
      #reccomended .owl-nav button.owl-next{
        width: 50px;
        height: 50px;
        border-radius: 50px !important;
        font-size: 30px;
      }
    #reccomended img{
        width: 40px;
    }
    #reccomended h4{
        font-size: 16px!important;
    }
    #reccomended .owl-carousel .owl-item h4{ 
        font-size: 16px!important;
    }

}
@media screen and (max-width:768px ){
    .header_top{
        margin-top:0px;
        padding-top:10px;
    }
    .logo{
        padding-top: 10px;   
    }
    .update_box{
        padding-top: 80px;
        padding-left:0;
    }
    .type-wrap{
        height: 12em;
        padding-top: 0px;
    }
    .type-wrap span{
        font-size: 5vw;
        font-size: 34px !important;
    }
    .btns {}
    .btns .btn_services{
        font-size: 16px;
        font-weight: 500;
        padding:5px 10px;
    } 
    .features .heading_features{
        font-size: 20px !important;
    }

/*media css for solution section*/
    #SOLUTIONS .background_left01{
        width: 550px;
    }
/*css for owl carousel slider*/
    #reccomended .owl-nav button.owl-prev,
    #reccomended .owl-nav button.owl-next{
        width: 45px;
        height: 45px;
        border-radius: 45px !important;
        font-size: 25px;
      }

}
@media screen and (max-width:576px ){
     .update_box{
        padding-top: 60px;
        padding-left:0; 
    }
    .type-wrap{
        height: 7.5em;
        padding-top: 0px;
    }
    .type-wrap span{
        white-space: unset !important;
        font-weight: 700;
        font-size: 4.5vw !important;
    }
     .btns {
    }
    .btns .btn_services{
        font-size: 16px;
        font-weight: 500;
        padding:5px 10px;
    }
    .logo{
        padding-top: 10px;   
    }
    .logo img{
        width: 100px;
    }
    .square {
        padding: 8px;
    }
    .bar1, .bar2, .bar3 {
        width: 1.5em;
        height: 4px;
        margin: 4px 0;
    }

    /*======= Testimonial style css =======*/
    /*.testimonial{
        border: 1px solid blue;
        width: 100%;
        height: 100%;
    }
    .testimonial .testimonial_left{}
    .testimonial .testimonial_left .circle3{
        margin: 0 auto;
        width: 75%;
        height:75%;
        border-radius: 75%;
        position: absolute;
        position: relative;
        z-index: 301;
        left: -20%;
        border: 1px solid #1B6FCF;
    }
    .testimonial .testimonial_left .circle2{
        margin: 0 auto;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        position: absolute;
        position: relative;
        z-index: 302;
        top: 20.5%;
        border: 2px solid #1B6FCF;
    }
    .testimonial .testimonial_left .circle1{
        margin: 0 auto;
        width: 25%;
        height: 25%;
        border-radius: 25%;
        position: absolute;
        position: relative;
        z-index: 303;
        top: 20.5%;
        border: 3px solid #1B6FCF;
    }
    .testimonial .testimonial_left .circle0{
        margin: 0 auto;
        width: 5%;
        height: 5%;
        background: #1B6FCF;
        border-radius: 5%;
        position: absolute;
        position: relative;
        z-index: 304;
        top: 20.5%;
        border: 4px solid #1B6FCF;
    }
    .testimonial_left img{
        width: 30px;
    }
    .member1,.member2,.member3,.member4,.member5,.member6,.member7{
        position: absolute;

    }
    .member1{
        top: -20%;
        left: 37%;
    }
    .member2{
        top: 50%;
        left: -10%;   
    }
    .member3{
        top: -2em;
        left: 5.5em;  
    }
    .member4{
        bottom: -2em;
        left: 8em;   
    }
    .member5{
        bottom: 8.5em;
        right: -2em;   
    }
    .member6{
        top: -1em;
        right: 8.3em;
    }
    .member7{
        bottom: 1em;
        right: 5em;
    }
    /*common property for model members*/
    .model_member{
        display: none;
        width: 200px;
        position: inherit;
        bottom: -10%;
        z-index: 305;
        -moz-transition:all 1s;
        -webkit-transition:all 1s;
        transition: all 1s;
    }
    .model_m1{
        width: 30%;
        display: none;
        position: inherit;
        bottom: -10%;
        z-index: 305;
        -moz-transition:all 1s;
        -webkit-transition:all 1s;
        transition: all 1s; 
    }
    .model_text{
        padding: 5px;
        background: #1B6FCF;
        color: #fff;
        border: 1px;
        border: 1px solid #fff;
        border-radius: 5px;       
    }
    .member1:hover .model_m1{
        display: block;
    }
    .member2:hover .model_m2{
        display: block;
    }
    .member3:hover .model_m3{
        display: block;
    }
    .member4:hover .model_m4{
        display: block;
    }
    .member5:hover .model_m5{
        display: block;
    }
    .member6:hover .model_m6{
        display: block;
    }
    .member7:hover .model_m7{
        display: block;
    }


*/





}
/*-- for 481px and less --*/
@media screen and (max-width:481px ){
  .header_top{
        margin-top:0px;
        padding-top:10px;
    }
    .logo{
        padding: 0;
        padding-top: 10px;   
    }
    .logo img{
        width: 100px;
        margin-right: 10px;
    }  
    .square {
        display: inline-block;
        cursor: pointer;
        padding: 8px;
    }
    .bar1, .bar2, .bar3 {
        width: 1.5em;
        height: 4px;
        margin: 4px 0;
        transition: 0.4s;
    }
    .update_box{
    padding-top: 60px;
    padding-left:0; 

    }
    .type-wrap{
        height: 8em;
        padding-top: 0px;
    }
    .type-wrap span{
        white-space: unset !important;
        font-weight: 700;
        font-size: 5.2vw !important;
    }
     .btns {
    }
    .btns .btn_services{
        font-size: 16px;
        font-weight: 500;
        padding:5px 10px;
    }
    #service{
        margin-top: 10px;
        padding-top: 10px; 
    }
   .features-padding {
        padding: 10px 0px;
    }
}
@media screen and (max-width: 440px){
.header_img01{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -100;
    }
  .header_img12{
    display: none;
  }
  .header_img02{
    display: block;
    //margin-top: 9em; 
    }
    .square {
        display: inline-block;
        cursor: pointer;
        padding: 8px;
    }
    .bar1, .bar2, .bar3 {
        width: 20px;
        width: 1.5em;
        height: 4px;
        margin: 4px 0;
        transition: 0.4s;
    }
    .update_box{
    padding-top: 55px;
    padding-left:0;

    }
    .type-wrap{
        height: 8.8em;
        padding-top: 0px;
    }
    .type-wrap span{
        white-space: unset !important;
        font-weight: 700;
        font-size: 7vw !important;
    }
     .btns {
    }
    .btns .btn_services{
        font-size: 14px;
        font-weight: 500;
        padding:4px 8px;
    }

}

@media screen and (max-width: 400px){
    .header_top{
        margin-top:0px;
        padding-top:10px;
    }
    .logo{
        padding-top: 10px;   
    }
    .logo img{
        width: 90px;
    }  
    .square {
        display: inline-block;
        cursor: pointer;
        padding: 8px;
    }
       .bar1, .bar2, .bar3 {
        width: 1.4em;
        height: 4px;
        margin: 4px 0;
        transition: 0.4s;
    }
    .header_img02{
        margin-top: 20px;
    }
    .service_row1,.service_row2{
        margin: 0 auto;
        width: 90%!important; 
    }

}

@media screen and (max-width: 320px){
   .header_top{
        margin-top:0px;
        padding-top:10px;
    }
    .logo{
        padding: 0;
        padding-top: 10px;   
    }
    .logo img{
        width: 100px;
    }  
   /* .btn_startproject{
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 3px;
    line-height: 25px;
    text-transform: capitalize;
    }*/
    .square {
        display: inline-block;
        cursor: pointer;
        padding: 7px;
    }
}
