/* This is custom css genrator from Custom scss file. */
/* line 4, ../scss/custom.scss */
/*a:focus { outline: none; }

/* line 8, ../scss/custom.scss */
/*.HomeSlider { float: left; display: block; width: 100%; margin-top: 20px; }

/* line 15, ../scss/custom.scss */
/*.featureslider { position: relative; }

/* line 19, ../scss/custom.scss */
/*.featuredPostSlider { float: left; width: 100%; padding: 0; margin-top: 0; margin-bottom: 0; }
/* line 25, ../scss/custom.scss */
/*.featuredPostSlider img { width: 100%; }
/* line 28, ../scss/custom.scss */
/*.featuredPostSlider h2 { width: 65%; position: absolute; left: 5%; color: #fff; font-size: 36px; }

/* line 37, ../scss/custom.scss */
#slick-pager {/*background-color: #fff;*/ 
  position: absolute; 
  right: 20%; width: 30%;  
  float: ; z-index: 5; 
  bottom: -25px;
//border: 2px solid #000; }
/* line 44, ../scss/custom.scss */
#slick-pager a {//background-color: #fff; padding: 15px 25px; width: 100%; /*float: left;*/ border-radius: 10px 10px 10px 10px; border: 1px solid rgba(255, 255, 255, 0.6); /*border: 1px solid #1B6FCF;*/ color: #fff; /*text-decoration: none;*/ }
/* line 51, ../scss/custom.scss */
#slick-pager a:hover { text-decoration: none;  }
/* line 54, ../scss/custom.scss */
#slick-pager a.active { background-color: #d95123; }
/* line 57, ../scss/custom.scss */
#slick-pager a h3 { color: #1b6fcf; font-size: 28px; font-family: "Lato", sans-serif; font-weight: 600; margin: 0 0 1px; }
#slick-pager a h6 { color: #1b6fcf; font-size: 12px; font-family: "Lato", sans-serif; font-weight: 500; margin: 0 0 20px; padding-bottom: 5px; }
#slick-pager  h2 { color: #1b6fcf; font-size: 28px; font-family: 'Open Sans', sans-serif; font-weight: 600; margin: 0 0 8px; }

/* line 63, ../scss/custom.scss */
#slick-pager a p {color: #9d9d9d;  font-family: "Lato", sans-serif; font-size: 13px; margin-bottom: 8px; line-height: 1.2em; border:1px solid #eee ; border-radius: 7px; padding: 12px 22px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); 
 }
/* line 68, ../scss/custom.scss */
#slick-pager a span.time {color: #9d9d9d;  font-family: "Lato", sans-serif; font-size: 10px; }
/* line 75, ../scss/custom.scss */
#slick-pager .slick-list .slick-track .slick-slide.slick-current { background-color: #4769e1;}
#slick-pager .slick-list .slick-track .slick-slide.slick-current *{
 color:#fff; box-shadow:#4769e1!important;
}
/* line 82, ../scss/custom.scss */
.slick-pager { margin-top: 30px; margin-bottom: 0; }

/* line 87, ../scss/custom.scss */
.pagerNavigation i { 
float: left; 
//width: 100%; 
margin-top: 0px; 
color: #5b74e5;/* background-color: #fff;*/}

/* line 93, ../scss/custom.scss */
.pagerNavigationTop { 
  font-size: 35px; 
  text-align: left; 
  position: absolute; right: 0;
 //width: 100%; 
 cursor: pointer;
/*top: -35px;*/ left: 95%;
height: 50px;}
.pagerNavigationTop *{
  background-color: none;
  height: 40px;
}

.slick-slide img { display: block; width: 70px!important; height: 70px!important; padding-right:10px; padding-bottom: 15px}
/* line 103, ../scss/custom.scss */
.pagerNavigationBottom {  position: absolute; /*width: 100%; */left: 95%; right: 0; height: 30px; cursor: pointer;  font-size: 35px; text-align: left;  }

/* line 116, ../scss/custom.scss */
.test  { position: relative; }

/*
@media screen and (max-width: 450px) {
  .test {padding-top: 15px;}
  .test {font-size: 18px;}
}

@media screen and (min-width: 1531px) {
  .test {padding-top: 15px;}
  .test { padding: 50px 50px 50px 52px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;}

}*/

@media (min-width: 768px) { 
  /* line 119, ../scss/custom.scss */
  .test{ width: 620px; } 
}
@media (min-width: 992px) 
{ /* line 120, ../scss/custom.scss */
  .test { width: 1100px; } 
}
@media (min-width: 1200px) 
{ /* line 121, ../scss/custom.scss */
  .test { width: 1170px; } 
}
@media (min-width: 1294px) 
{
 .test { width: 1265px; } 
}

@media (min-width: 1311px) 
{
 .test { width: 1360px; } 
}
@media (min-width: 1600px) 
{
 .test { width: 1580px; } 
}
@media (min-width: 1500px) 
{
 .test { width: 1470px; } 
}
@media (min-width: 1700px) 
{
 .test { width: 1670px; } 
}
@media (min-width: 1890px) 
{
 .test { width: 1780px; } 
}
@media (min-width: 2200px) 
{ /* line 121, ../scss/custom.scss */
  .test { width: 2170px; } 
}
@media (max-width: 1000px) 
{ /* line 124, ../scss/custom.scss */
  .slick-pager { margin: 0; 
  }
  /* line 125, ../scss/custom.scss */
  #slick-pager { background-color: #fff; width: 90%; position: relative; top: 50px; right: -9px; }
  /* line 129, ../scss/custom.scss */
  #slick-pager a {background-color: #fff; border-top: none; border-right: 1px solid rgba(255, 255, 255, 0.6); }
  /* line 130, ../scss/custom.scss */
  #slick-pager h3 {background-color: ; font-size: 16px; margin: 0 0 12px; }
  /* line 137, ../scss/custom.scss */
  .pagerNavigation i { display: block; }
  /* line 138, ../scss/custom.scss */
  .pagerNavigationBottom { display: block; } }
